* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*div {
    border: .5px solid grey;
}*/

header {
    background: url('ellen.jpg') center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

nav {
    color: black;
    background-image: linear-gradient( #aaa , #ddd);
}

header > section {
    height: 90%;
}