* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/*
body {
    color: #000;
    background-color: #000;
}

div {
    border: .5px solid grey;
}*/

header {
    background: url('pierre-chatel-innocenti-pxoZSTdAzeU-unsplash.jpg') center top;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

nav a {
    color: white;
    transition: ease-out;
    transition-duration: 0.3s;
    /*background-image: linear-gradient( #aaa , #ddd);*/
}
 nav a:hover {
     transform: scale(1.1);
     color:  rgb(119, 190, 181) ;
 }
header > section {
    height: 90%;
}

.font-1 {
    font-size: 4em;
}

.imgg {
    width: 100%;
}

